<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="cz.dvratil.fbeventsync.uid"
    package="cz.dvratil.fbeventsync.test" >

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="27" />

    <instrumentation
        android:name="android.support.test.runner.AndroidJUnitRunner"
        android:functionalTest="false"
        android:handleProfiling="false"
        android:label="Tests for cz.dvratil.fbeventsync"
        android:targetPackage="cz.dvratil.fbeventsync" />

    <application android:debuggable="true" >
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>